html,body{
    
   min-height: 100%;
}
body{
    background-color:azure;
    margin: 0;
    color: #222;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.card {
  padding: 16px;
}
header{
    background-color: black;
    color: azure;
    width: 100%;
   padding: 10px 40px;
    text-align: center;
    box-sizing: border-box;
}
h1{
font-size: 27px;
font-family:Verdana;
color: azure;
}
header p{
font-size: 15px;
font-family: Verdana;
color: white;
}
h2,h3{
 font-size: 23px;
font-family:Verdana;
color: #0a0a0a;
text-align: center;
margin: 10px 20px;
}
/* .addItemBtn{
width: 55px;
height: 55px;
background-color: #222;
color: azure;
border-radius: 50%;
margin: 0;
border-color:#222;
font-size: 32px;
line-height: 1;
border: none;
cursor: pointer;
} */
.adItemTop{
    display: flex;
    flex-direction: row;
    font-family: Verdana;
  align-items: center;
  justify-content: center;
  margin: 30px 40px;
  gap: 16px;
}
.adItemTop h3{
    margin: 0;
}
.addItem{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    max-width: 1200px;
    padding:32px 28px;
    gap: 30px;
    margin-top: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
   }
   .inputBox {
  position: relative;
  margin-bottom: 28px;
}
.inputBox input,
.inputBox textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0a0a0a;
  padding: 8px 4px 6px;
  line-height: 1.4;
  color: #0a0a0a;
  font-size: 15px;
  outline: none;
}
.inputBox label {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: #0a0a0a;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease;
}
/* Floating effect */
.inputBox input:focus + label,
.inputBox input:not(:placeholder-shown) + label,
.inputBox textarea:focus + label,
.inputBox textarea:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #6b7280;
}
/* Focus underline */
.inputBox input:focus,
.inputBox textarea:focus {
  border-bottom-color:#6b7280;
}

/* Textarea */
textarea {
  resize: vertical;
  padding-top: 16px;
}

/* File input (без floating) */
.fileBox label {
  position: static;
  transform: none;
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  color: #0a0a0a;
}

.fileBox input {
  border-bottom: none;
  padding-left: 0;
}

.fileBox input::file-selector-button {
  background: #757677;
  border: none;
  color: #0a0a0a;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.fileBox input::file-selector-button:hover {
  background: #656566;
  border: none;
}

/* Кнопка */
.form-button {
  text-align: center;
  margin-top: 15px;
}

.btnSubmit {
  background: #0a0a0a;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.btnSubmit:hover {
    background: #374151;
  transform: translateY(-2px);
}
#photoPreview{
    display: flex;
    gap: 10;
    flex-wrap: wrap;
    margin-top: 10px;
}
.previewItem{
    width: 80px;
    height: 80px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
}
.previewWrapper {
  position: relative;
  display: inline-block;
  margin: 5px;
}
.removePhotoBtn {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: #222;
  color: white;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: flex;
}
.picContainer{
    display: flex;
    gap: 12px;
    margin-top: 10px;
    overflow-x: auto;
    margin: 20px;
    overflow: hidden;
}
.cardPhoto{
width: 100%;
max-width: 350px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid #ccc;
    margin: 0px;
    cursor: pointer;
    transition: .5s;
    }
    .cardPhoto:hover{
        transform: scale(1.05);
    }
@media (max-width: 1024px) {
  .cardPhoto {
    width: 85%;
    height: 230px;
    object-fit: cover;
  }
  .picContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
 }
}
@media (max-width: 600px) {
  .cardPhoto {
    width: 100%;
    height: 200px;
  }
}
.imageModal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: zoom-out;
}
.imageModal.hidden{
    display: none;
}
#modalImg{
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    object-fit: contain;
}
.imageModal .close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 50%;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease, transform 0.2s ease;
}

.imageModal .close:hover {
    background: rgba(0, 0, 0, 0.85);
    transform: scale(1.1);
}
.nameBtn{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 16px 20px;
    /* margin: 25px 40px; */
    align-items: center;
}
.contBtn{
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}
.removeCard, .editCard {
    width: 40px;
    height: 40px;
    background: #0a0a0a;
    color: #fff;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: none;
    margin: 8px;
}
.removeCard:hover, .editCard:hover{
   cursor: zoom-out;
    transform: scale(1.05);
    cursor: pointer;
}
h4{
    font-family: Verdana;
    font-size: 20px;
    color: #0a0a0a;
    text-transform: uppercase;
    cursor: pointer;
}
.card p{
    color: #0a0a0a;
    font-family:Verdana;
    font-size: 18px;
    margin:5px 30px ;
}
/* #addItem.closed{
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}
#addItem.open{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.35s ease;
    max-height: 1000px;
} */
.cardContent{
    display: none;
}
.card.open .cardContent{
    display: block;
}
@media (min-width: 1024px){
 #btnCamera {
  display: none;
 }
}
#btnCamera, #btnGallery{
padding: 5px 10px;
background-color: #222;
color: azure;
border-radius: 8px;
margin: 5px;
border-color:#222;
font-size: 17px;
line-height: 1;
border: none;
cursor: pointer;
transition: transform 0.15s ease, box-shadow 0.15s ease;
}
#btnCamera:hover, #btnGallery:hover {
  background: #374151;
  transform: translateY(-2px);
}
.itemBoughtWith, .itemSoldWith {
  display: flex;
  gap: 20px;
}
.itemBoughtWith .inputBox{
  flex: 1;
  min-width: 0;
}
.itemBoughtWith .inputBox input{
 width: 100%;
 box-sizing: border-box;
} 
@media(max-width: 768px){
  .itemBoughtWith, .itemSoldWith {
  flex-direction: column;
}
}
.itemSoldWith .inputBox{
  flex: 1;
  min-width: 0;
}
.itemSoldWith .inputBox input{
 width: 100%;
 box-sizing: border-box;
}
.profit-plus{
  color: darkgreen !important;
  font-weight:bold;
}
.profit-minus{
  color: red !important;
  font-weight: bold;
}
.sold{
  color: #8a8a8a;
  text-decoration: line-through;
}






